body {
  font-family: Arial, sans-serif;
  background-color: #199612;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
}

.card {
  background: rgb(171, 93, 67);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.time {
  font-size: 48px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button.start {
  background-color: #28a745;
}

button.stop {
  background-color: #dc3545;
}

button.reset {
  background-color: #ffc107;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
